.App {
  background-image: url(./assets/dice.png);
  background-size: cover;
  text-align: center;
  height: 100vh;
}

.authContainer {
  margin-top: 10%;
}

.authForm {
  margin: auto;
  padding: 10px;
  width: 50%;
  background-color: #f04f54;
  border-radius: 7px;
}

.link {
  text-decoration: none;
  color: black
}

.link:hover {
  color: black
}

.authLink {
text-decoration: none;
color: white;
}

.authLink:hover {
  color: black
}

.navbar {
  padding: 1rem;
}

.thumb {
  max-height: 100px;
}

.cardDiv {
  margin: 20px;
}

.cardSpacing {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.collectionSpacing {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}

.colCardSpacing {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 2px solid black;
  margin: 30px;
  padding: 10px;
}

.card {
  align-items: center;
  width: 300px;
  height: 350px;
}

.cardTitle {
  height: 50px;
}

.cardImg {
  width:  200px;
  height: 200px;
  object-fit: fill;
}

.colCardImg {
  width:  100px;
  height: 100px;
  object-fit: fill;
  margin: 5px;
}

.modalBody {
  height: 500px;
  overflow-y: scroll;
}

.searchBar.form-control {
  width: 400px;
}

.modal-backdrop.show{
  opacity: .1 !important;
}

/* .modal-backdrop.fade {
  opacity: .2 !important;
} */