.App {
  background-image: url(./assets/dice.png);
  background-size: cover;
  text-align: center;
  height: 100vh;
}


/* Navbar */

.NavLogo {
  float: left !important;
  margin-top: -15px !important;
  display: flex;
  align-self: flex-start !important;
}

.navbar {
  padding: 1rem;
}

.navLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


/* Other */

.link {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.link:hover {
  color: #f04f54;
}

.row {
  --bs-gutter-x: none !important;
}

.card-body {
  padding: 5px;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.modal-backdrop.show{
  opacity: .1 !important;
}